{% extends 'base.html' %}
{% block title %}
Update Expenses
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md">
        <form action="" method="post">
            {% csrf_token %}
            <h3 class="my-3">Update Expenses</h3>
            <div class="form-group">
                <label for="category">Select Category: </label>
                <select class="form-control form-control-sm  border" name="category" id="category" required>
                    <option value="" selected disabled>Select Category</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name|title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="member">Select member: </label>
                <select class="form-control form-control-sm  border" name="member" id="member" required>
                    <option value="" selected disabled>Choose member</option>
                    {% for member in members %}
                    <option value="{{member.id}}">{{member.first_name}} {{member.last_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="income_date">Date</label>
                <input type="date" class="form-control border" name="date" id="date" required>
            </div>

            <div class="form-group">
                <label for="income_amount">Expense Amount</label>
                <input type="number" class="form-control border" name="expense_amount" id="expense_amount"
                    value="{{ getexpense.amount}}" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" id="description"
                    value="{{getexpense.description}}" placeholder="At hotel...">
            </div>
            <input type="submit" value="Add" class="btn btn-success">
        </form>
    </div>
</div>
<script>
    document.getElementById("date").value = "{{ getexpense.date|date:'Y-m-d' }}";
    document.getElementById("member").value = "{{ getexpense.member_id.id}}";
    document.getElementById("category").value = "{{ getexpense.category_id.id}}"
</script>
{% endblock %}