{% extends 'account\base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="container d-md-flex align-items-stretch" style="background-color: #000000;">
    <!-- Page Content  -->
    <div id="content" class="mr-4 p-2 p-md-2 pt-3">
        <div class="row d-flex justify-content-around">
            <div class="col-md-4 p-3">
                <div class="card text-center" style="background-color: #1a1a1a;">
                    <div class="card">
                        <div class="card2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="card text-center" style="background-color: #1a1a1a;">
                    <div class="card">
                        <div class="card2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="card text-center" style="background-color: #1a1a1a;">
                    <div class="card">
                        <div class="card2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="sidebar">
        <div class="p-4 pt-5 border-left" style="background-color: #000;">
            <h5 style="color: #ffffff;">Categories</h5>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                        style="color: #fff;">Mens Shoes</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Casual</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Football</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Jordan</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span>
                                Lifestyle</a></li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Running</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Soccer</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Sports</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                        style="color: #fff;">Accessories</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Necklace</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Ring</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Bag</a></li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Sacks</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Lipstick</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                        style="color: #fff;">Clothes</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu4">
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Jeans</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> T-shirt</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Jacket</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Shoes</a>
                        </li>
                        <li><a href="#" style="color: #fff;"><span class="fa fa-chevron-right mr-2"></span> Sweater</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="mb-5">
                <h5 style="color: #fff;">Tag Cloud</h5>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link" style="color: #fff;">dish</a>
                    <a href="#" class="tag-cloud-link" style="color: #fff;">menu</a>
                    <a href="#" class="tag-cloud-link" style="color: #fff;">food</a>
                    <a href="#" class="tag-cloud-link" style="color: #fff;">sweet</a>
                    <a href="#" class="tag-cloud-link" style="color: #fff;">tasty</a>
                    <a href="#" class="tag-cloud-link" style="color: #fff;">delicious</a>
                    <a href="#" class="tag-cloud-link" style="color: #fff;">desserts</a>
                    <a href="#" class="tag-cloud-link" style="color: #fff;">drinks</a>
                </div>
            </div>
            <div class="mb-5">
                <h5 style="color: #fff;">Newsletter</h5>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <div class="icon"><span class="icon-paper-plane"></span></div>
                        <input placeholder="Enter your email" class="input" name="text" type="text">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>

<style>
    /* Style the cards */
    .card {
        width: 190px;
        height: 254px;
        background-image: linear-gradient(163deg, #1a1a1a 0%, #1a1a1a 100%);
        border-radius: 20px;
        transition: all .3s;
    }

    .card2 {
        width: 190px;
        height: 254px;
        background-color: #1a1a1a;
        border-radius: 20px;
        transition: all .2s;
    }

    .card2:hover {
        transform: scale(0.98);
        border-radius: 20px;
    }

    .card:hover {
        box-shadow: 0px 0px 30px 1px rgba(196, 69, 250, 0.3);
    }

    /* Adjust the color of links and text */
    a,
    .navbar-brand,
    .navbar-nav .nav-link,
    .tag-cloud-link {
        color: #fff;
    }

    /* Adjust the background color of navbar and footer */
    .navbar,
    #sidebar {
        background-color: #222;
    }

    /* Adjust the text color of the navbar links on hover */
    .navbar-nav .nav-link:hover {
        color: #ccc;
    }

    /* Adjust the color of form placeholders */
    ::placeholder {
        color: #ccc;
    }

    .input {
        background-color: #212121;
        max-width: 190px;
        height: 40px;
        padding: 10px;
        /* text-align: center; */
        border: 1px solid #1a1a1a;
        border-radius: 5px;
    }

    .input:focus {
        color: rgba(196, 69, 250, 0.3);
        background-color: #1a1a1a;
        outline-color: rgba(196, 69, 250, 0.3);
        box-shadow: 0px 0px 30px 3px rgba(196, 69, 250, 0.3);
        transition: .1s;
        transition-property: box-shadow;
    }

    .tagcloud .tag-cloud-link:hover {
        background-color: rgba(196, 69, 250, 0.3) !important;
    }
</style>
{% endblock %}