{% extends 'account\base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<div class="container d-md-flex align-items-stretch">
    <!-- Page Content  -->
    <div id="content" class="mr-4 p-2 p-md-2 pt-3">
        <div class="row d-flex justify-content-around">
            <div class="col-md-4 p-3">
                <div class="card text-center" style="background-color: #1a1a1a;">
                    <div class="card">
                        <div class="card2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="card text-center" style="background-color: #1a1a1a;">
                    <div class="card">
                        <div class="card2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="card text-center" style="background-color: #1a1a1a;">
                    <div class="card">
                        <div class="card2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="sidebar">
        <div class="p-4 pt-5 border-left">
            <div class="mb-5">
                <h5 style="color: #fff;">Tag Cloud</h5>
                <div class="tagcloud">
                    {% for category_item in unique_category_names %}
                    <a href="{% url 'get_record_via_filter' category_id=category_item.0 %}?category={{category_item.1}}"
                        class="tag-cloud-link" style="color: #fff;">{{category_item.1}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
</div>

{% endblock %}